<div class="container-pages">
  <div class="pokemon-logo">
    <%= image_tag "pokemon.jpg"  %>
    <%= link_to "Buy your egg", poke_eggs_path, class: "btn btn-primary"  %>
  </div>
  <div class="pikachu-image">
    <%= image_tag "pikachu.png" %>
  </div>
  <div class= "oeufs-pokemon ">
      <%= image_tag "oeuf-pokemon.jpg" %>
      <%= image_tag "oeuf-pokemon.jpg" %>
      <%= image_tag "oeuf-pokemon.jpg" %>
      <%= image_tag "oeuf-pokemon.jpg" %>
      <%= image_tag "oeuf-pokemon.jpg" %>
  </div>
</div>
